@import "tailwindcss";

:root {
    --font-sans: 'Roboto', sans-serif; /* fallback */
    --font-heading: 'Inter', sans-serif; /* fallback */
}


@theme inline {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
}

@layer base {
    :root {
        --background: #ffff;
        --text-primary: #1F2937;
        --text-secondary: #4B5563;
        --accent-primary: #10B981;
        --accent-hover: #059669;
        --highlight: #3B82F6;

        /* Background variants */
        --bg-highlight: var(--highlight);       /* Blue background */
        --bg-accent-primary: var(--accent-primary); /* Green background */
    }
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-sans), serif; /* Default font */
}

/*styling headings*/
@layer base {
    h1 {
        @apply text-4xl font-bold tracking-tight text-[var(--text-secondary)];
    }

    h2 {
        @apply text-3xl font-semibold tracking-tight text-[var(--text-secondary)];
    }

    h3 {
        @apply text-2xl font-medium text-[var(--text-secondary)];
    }

    h4 {
        @apply text-xl font-medium text-[var(--text-secondary)];
    }

    h5 {
        @apply text-lg font-medium text-[var(--text-secondary)];
    }

    h6 {
        @apply text-base font-medium text-[var(--text-secondary)];
    }

    p {
        @apply text-lg text-[var(--text-primary)];
    }

    * {
        border-color: var(--accent-primary);
    }
    a{
        @apply hover:text-[var(--highlight)];
    }

}


@layer components {
    /* Base Card */
    .card {
        @apply border border-gray-200 inline-block p-4 rounded-lg;
    }

    /* Hoverable Card */
    .card-hover {
        @apply transition duration-200 ease-in-out hover:shadow-md hover:-translate-y-1 cursor-pointer hover:border-[var(--accent-hover)];
    }

    /* Accent card (for highlights or featured content) */
    .card-accent {
        @apply border-[var(--accent-hover)];
    }

    /* Elevated card (for modals or emphasis) */
    .card-elevated {
        @apply shadow-lg;
    }

    /* Compact card (for tight spaces like sidebars) */
    .card-compact {
        @apply p-2 text-sm;
    }
}


/*Secondary background*/
.secondary-bg {
    background-color: #F8FAF8;
}

